@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
	@apply bg-blue-50 py-4 w-full border-b-[1px];
}

body {
	@apply text-base font-normal font-['Poppins'] bg-blue-50;
}

.main {
	@apply flex flex-col tablet:mb-0 tablet:place-content-between h-screen content-between;
}

html, #__nuxt {
	@apply h-full;
}

/* BUTTONS */
.button {
	@apply py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent;
}

.primary {
	@apply bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700;
}

.ghost {
	@apply bg-transparent text-blue-600 hover:bg-blue-100 focus:outline-none focus:bg-blue-100;
}

button:disabled {
	@apply opacity-50 pointer-events-none;
}

.block {
	@apply w-full justify-center;
}

/* FORMS */

.input {
	@apply py-3 px-4 block w-full border-gray-200 rounded-lg text-sm;
}
.input.gray {
	@apply bg-gray-100 border-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:focus:ring-neutral-600;
}

select {
	@apply py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm;
}

select.primary {
	@apply focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}
select.gray {
	@apply bg-gray-100 border-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:focus:ring-neutral-600;
}
/* CARD */
.card {
	@apply flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70 p-4 gap-4;
}

.card .title {
@apply text-xl font-bold text-gray-800 dark:text-white
}

.menu-item {
	@apply hover:bg-blue-100 active:bg-blue-200 w-full transition-colors py-2 px-2 items-center text-sm inline-flex gap-2 rounded-md cursor-pointer;
}

.dropdown {
	@apply bg-white min-w-48 w-48 z-10 mt-2 opacity-0 transition-[opacity,margin] duration-75 hs-dropdown-open:opacity-100 text-sm rounded-lg overflow-hidden shadow-sm dark:border-transparent border;
}

.dropdown a {
	@apply block py-2 px-4 hover:bg-blue-100;
}

.hyper {
	@apply text-blue-600 font-semibold hover:underline;
}

/* CHECKBOX */
.checkbox {
	@apply shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
}